body {
	margin: 0;
	overflow: hidden;
}

.hide {
	visibility: hidden;
	position: absolute;
}

@font-face {
	font-family: 'coffee';
	src: url('coffee-webfont.woff2') format('woff2'), url('coffee-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sunrise';
	src: url('sunrise_international_demo-webfont.woff2') format('woff2'),
	url('sunrise_international_demo-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'lemon';
	src: url('dk_lemon_yellow_sun-webfont.woff2') format('woff2'),
	url('dk_lemon_yellow_sun-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}