@font-face {
	font-family: 'coffee';
	src: url('coffee-webfont.woff2') format('woff2'), url('coffee-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sunrise';
	src: url('sunrise_international_demo-webfont.woff2') format('woff2'),
	url('sunrise_international_demo-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'lemon';
	src: url('dk_lemon_yellow_sun-webfont.woff2') format('woff2'),
	url('dk_lemon_yellow_sun-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #000;
	margin: 0;
	overflow: hidden;
}

@keyframes fadeOut {
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#message {
	animation: fadeOut 5s forwards;
	color: #fff;
	font: 24px coffee;
	padding: 20px;
	text-align: center;
}

.hide {
	visibility: hidden;
	position: absolute;
}
