
@font-face {
	font-family: 'trashhand';
	src: url('trashhand-webfont.woff2') format('woff2'),
	url('trashhand-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rhinos_rocksregular';
	src: url('rhinos_rocks_1-webfont.woff2') format('woff2'),
	url('rhinos_rocks_1-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #000;
	margin: 0;
	overflow: hidden;
}

.hide {
	visibility: hidden;
	position: absolute;
}
