
@font-face {
	font-family: 'bowlbyonesc';
	src: url('bowlbyonesc.woff2') format('woff2'),
	url('bowlbyonesc.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'bowlbyonesc';
	background: #000;
	margin: 0;
	overflow: hidden;
}

#overlay {
	color: white;
	width: 100%;
	height: 100vh;
	line-height: 100vh;
	text-align: center;
}

#overlay span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}


.hide {
	visibility: hidden;
	position: absolute;
}
